<div>
  <app-header></app-header>


  <h1 class="my-6 text-xl font-semibold uppercase">
    Superadmin list
  </h1>

  <div class="flex items-center my-4">
    <form class="form relative">
      <input id="filter-text-box" (input)="onFilterTextBoxChanged()"
        class="input w-72 rounded-full pr-8 px-4 py-2 text-sm bg-gray-100 border-2 border-transparent focus:outline-none focus:border-blue-500 placeholder-gray-500 transition-all duration-300 shadow-md"
        placeholder="Search Item" required="" type="text" name="searchText" />
      <button type="reset" class="absolute right-3 -translate-y-1/2 top-1/2 p-1">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-700" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </form>

    <button (click)="openAddModal()"
      class="flex items-center gap-x-1 ml-auto bg-[#3A3A3A] hover:bg-neutral-600 text-white font-medium px-4 py-2 rounded-md border shadow hover:shadow-md">
      <div>
        <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
          stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="m12.03 5-.018 14"></path>
          <path d="M5 12h14"></path>
        </svg>
      </div>
      <p>Add Superadmin</p>
    </button>
  </div>


  <div class="w-fit bg-gray-50 px-4 py-2 text-sm font-medium border rounded-lg shadow-md">
    {{ startRow }} - {{ endRow }} of {{ totalRows }} item(s)
  </div>

  <div class="w-full h-[80vh] my-4">
    <ag-grid-angular style="width: 100%; height: 100%; overflow-x: scroll;" [class]="themeClass"
      [rowData]="rowListAllUser" [columnDefs]="colHeaderListAllUser" [defaultColDef]="defaultColDef" (input)="onFilterTextBoxChanged()"
      [gridOptions]="gridOptions" [pagination]="true" [paginationPageSize]="10"
      (firstDataRendered)="totalRowCount($event)"></ag-grid-angular>
  </div>


  <div *ngIf="isModalAddOpen" tabindex="-1" (click)="closeAddModal()"
    class="fixed top-0 left-0 right-0 bottom-0 z-50 flex items-center justify-center bg-gray-900 bg-opacity-50">
    <div (click)="$event.stopPropagation()"
      class="relative p w-full max-w-xl md:max-w-2xl bg-white rounded-lg shadow dark:bg-gray-700 max-h-[90vh] overflow-y-auto mx-4 md:mx-0">
      <!-- Modal header -->
      <div class="sticky top-0 flex items-center justify-between p-4 border-b rounded-t bg-white dark:border-gray-600">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
          Tambah
        </h3>
        <button (click)="closeAddModal()"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white">
          <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <form class="p-6" #addSuperadminForm="ngForm" (ngSubmit)="addSuperadmin()">
        <h3 class="text-2xl text-gray-900 font-semibold">Superadmin</h3>
        <p class="mb-4 text-gray-600">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>

        <div class="mt-4">
          <label for="first_name" class="text-sm md:text-[0.875rem] mb-1">First Name</label>
          <input type="text" id="first_name" name="first_name" placeholder="e.g. John" [(ngModel)]="first_name" class="border text-sm rounded-lg p-2 px-3 w-full invalid:border-pink-500 invalid:text-pink-600
          focus:invalid:border-pink-500 focus:invalid:ring-pink-500">
        </div>

        <div class="mt-4">
          <label for="last_name" class="text-sm md:text-[0.875rem] mb-1">Last Name</label>
          <input type="text" id="last_name" name="last_name" placeholder="e.g. Doe" [(ngModel)]="last_name" class="border text-sm rounded-lg p-2 px-3 w-full invalid:border-pink-500 invalid:text-pink-600
          focus:invalid:border-pink-500 focus:invalid:ring-pink-500">
        </div>

        <div class="mt-4">
          <label for="gender" class="text-sm md:text-[0.875rem] mb-1">Gender</label>
          <select id="gender" [(ngModel)]="gender" name="gender"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full mb-2 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option value="" disabled selected>Choose the gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>

        <div class="mt-4">
          <label for="email" class="text-sm md:text-[0.875rem] mb-1">Email</label>
          <input type="text" id="email" name="email" placeholder="e.g. email@gmail.com" [(ngModel)]="email" class="border text-sm rounded-lg p-2 px-3 w-full invalid:border-pink-500 invalid:text-pink-600
          focus:invalid:border-pink-500 focus:invalid:ring-pink-500">
        </div>

        <div class="mt-4">
          <label for="password" class="text-sm md:text-[0.875rem] mb-1">Password</label>
          <input type="password" id="password" name="password" placeholder="e.g. secure123" [(ngModel)]="password" class="border text-sm rounded-lg p-2 px-3 w-full invalid:border-pink-500 invalid:text-pink-600
          focus:invalid:border-pink-500 focus:invalid:ring-pink-500" autocomplete="new-password">
        </div>

        <!-- <div class="mt-4 hidden">
          <label for="role" class="text-sm md:text-[0.875rem] mb-1">Role</label>
          <input type="text" id="role" name="role" value="superadmin" [(ngModel)]="role" class=" border text-sm rounded-lg p-2 px-3 w-full invalid:border-pink-500 invalid:text-pink-600
          focus:invalid:border-pink-500 focus:invalid:ring-pink-500">
        </div> -->

        <div class="mt-4">
          <label for="phone" class="text-sm md:text-[0.875rem] mb-1">Phone</label>
          <input type="text" id="phone" name="phone" placeholder="e.g. 0813 1234 5678" [(ngModel)]="phone" class="border text-sm rounded-lg p-2 px-3 w-full invalid:border-pink-500 invalid:text-pink-600
          focus:invalid:border-pink-500 focus:invalid:ring-pink-500">
        </div>

        <div class="mt-4">
          <label for="address" class="text-sm md:text-[0.875rem] mb-1">Address</label>
          <input type="text" id="address" name="address" placeholder="e.g. Jl. Sm. Km (o゜▽゜)o☆" [(ngModel)]="address" class="border text-sm rounded-lg p-2 px-3 w-full invalid:border-pink-500 invalid:text-pink-600
          focus:invalid:border-pink-500 focus:invalid:ring-pink-500">
        </div>


      </form>

      <!-- Modal footer -->
      <div class="flex items-center p-4 border-t border-gray-200 rounded-b dark:border-gray-600">
        <button (click)="addSuperadmin()" type="button"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5">Draft</button>
        <button (click)="closeAddModal()" type="button"
          class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700">Cancel</button>
      </div>
    </div>
  </div>


  <div *ngIf="isModalEditOpen" tabindex="-1" (click)="closeEditModal()"
  class="fixed top-0 left-0 right-0 bottom-0 z-50 flex items-center justify-center bg-gray-900 bg-opacity-50">
  <div (click)="$event.stopPropagation()"
    class="relative p w-full max-w-xl md:max-w-2xl bg-white rounded-lg shadow dark:bg-gray-700 max-h-[90vh] overflow-y-auto mx-4 md:mx-0">
    <!-- Modal header -->
    <div class="sticky top-0 flex items-center justify-between p-4 border-b rounded-t bg-white dark:border-gray-600">
      <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
        Edit
      </h3>
      <button (click)="closeEditModal()"
        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white">
        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
    </div>
    <!-- Modal body -->
    <form class="p-6" #addSuperadminForm="ngForm" (ngSubmit)="addSuperadmin()">
      <h3 class="text-2xl text-gray-900 font-semibold">Superadmin</h3>
      <p class="mb-4 text-gray-600">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>

      <div class="mt-4">
        <label for="first_name" class="text-sm md:text-[0.875rem] mb-1">First Name</label>
        <input type="text" id="first_name" name="first_name" placeholder="e.g. John" [(ngModel)]="first_name" class="border text-sm rounded-lg p-2 px-3 w-full invalid:border-pink-500 invalid:text-pink-600
        focus:invalid:border-pink-500 focus:invalid:ring-pink-500">
      </div>

      <div class="mt-4">
        <label for="last_name" class="text-sm md:text-[0.875rem] mb-1">Last Name</label>
        <input type="text" id="last_name" name="last_name" placeholder="e.g. Doe" [(ngModel)]="last_name" class="border text-sm rounded-lg p-2 px-3 w-full invalid:border-pink-500 invalid:text-pink-600
        focus:invalid:border-pink-500 focus:invalid:ring-pink-500">
      </div>

      <div class="mt-4">
        <label for="gender" class="text-sm md:text-[0.875rem] mb-1">Gender</label>
        <select id="gender" [(ngModel)]="gender" name="gender"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full mb-2 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          <option value="" disabled selected>Choose the gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </div>

      <div class="mt-4">
        <label for="email" class="text-sm md:text-[0.875rem] mb-1">Email</label>
        <input type="text" id="email" name="email" placeholder="e.g. email@gmail.com" [(ngModel)]="email" class="border text-sm rounded-lg p-2 px-3 w-full invalid:border-pink-500 invalid:text-pink-600
        focus:invalid:border-pink-500 focus:invalid:ring-pink-500">
      </div>

      <div class="mt-4">
        <label for="phone" class="text-sm md:text-[0.875rem] mb-1">Phone</label>
        <input type="text" id="phone" name="phone" placeholder="e.g. 0813 1234 5678" [(ngModel)]="phone" class="border text-sm rounded-lg p-2 px-3 w-full invalid:border-pink-500 invalid:text-pink-600
        focus:invalid:border-pink-500 focus:invalid:ring-pink-500">
      </div>

      <div class="mt-4">
        <label for="address" class="text-sm md:text-[0.875rem] mb-1">Address</label>
        <input type="text" id="address" name="address" placeholder="e.g. Jl. Sm. Km (o゜▽゜)o☆" [(ngModel)]="address" class="border text-sm rounded-lg p-2 px-3 w-full invalid:border-pink-500 invalid:text-pink-600
        focus:invalid:border-pink-500 focus:invalid:ring-pink-500">
      </div>


    </form>

    <!-- Modal footer -->
    <div class="flex items-center p-4 border-t border-gray-200 rounded-b dark:border-gray-600">
      <button (click)="updateSuperadmin()" type="button"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5">Draft</button>
      <button  type="button"
        class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700">Cancel</button>
    </div>
  </div>
</div>


<div *ngIf="isModalDetailOpen" tabindex="-1" (click)="closeDetailModal()" 
class="fixed inset-0 z-50 flex items-center justify-center bg-gray-900 bg-opacity-50">
<div (click)="$event.stopPropagation()" 
  class="relative w-full max-w-xl md:max-w-2xl bg-white rounded-lg shadow dark:bg-gray-700 max-h-[90vh] overflow-y-auto mx-4 md:mx-0">
  
  <!-- Modal header -->
  <div class="sticky top-0 flex items-center justify-between p-4 bg-white border-b rounded-t dark:bg-gray-700">
    <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Detail</h3>
    <button (click)="closeDetailModal()" 
      class="text-gray-400 hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white">
      <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M1 1l6 6m0 0l6 6M7 7l6-6M7 7L1 13" />
      </svg>
      <span class="sr-only">Close modal</span>
    </button>
  </div>

  <!-- Modal body -->
  <div class="p-4">
    <h1 class="font-medium text-gray-400 my-2">
      User ID 
      <span class="font-bold text-xl text-gray-800">#{{id}}</span>
    </h1>
    <div class="flex items-center mb-4 outline outline-offset-2 outline-2 outline-gray-200 dark:outline-gray-600 p-4 rounded-lg z-50">
      <div class="font-bold px-1 py-1 mr-4">
        <svg width="64" height="64" fill="#000000" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M16 9a4 4 0 1 1-8 0 4 4 0 0 1 8 0Zm-2 0a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z" clip-rule="evenodd"></path>
          <path fill-rule="evenodd" d="M12 1C5.925 1 1 5.925 1 12s4.925 11 11 11 11-4.925 11-11S18.075 1 12 1ZM3 12c0 2.09.713 4.014 1.908 5.542A8.986 8.986 0 0 1 12.065 14a8.984 8.984 0 0 1 7.092 3.458A9 9 0 1 0 3 12Zm9 9a8.963 8.963 0 0 1-5.672-2.012A6.992 6.992 0 0 1 12.065 16a6.991 6.991 0 0 1 5.689 2.92A8.964 8.964 0 0 1 12 21Z" clip-rule="evenodd"></path>
        </svg>
      </div>
      <div>
        <p class="text-gray-400 font-large">User Name</p>
        <h2 class="text-gray-800 font-bold">{{ first_name }} {{ last_name }}</h2>
      </div>
        <div 
        class="px-2 py-1 rounded-full text-xs font-medium ml-auto text-white" 
        [ngClass]="{
          'bg-green-500': status === 'online',
          'bg-red-500': status === 'offline'
        }">
        {{ status }}
      </div>
    </div>

    <!-- <div class="mb-4">
      <p class="text-gray-500 font-medium">
        The lower and upper lips have cancer sores 
        <button class="text-blue-500 font-medium ml-2">Edit</button>
      </p>
    </div>

    <div class="grid grid-cols-3 gap-4 mb-4">
      <div>
        <h3 class="text-gray-500 font-medium mb-2">Time Slot</h3>
        <button class="text-blue-500 font-medium">Extend time</button>
      </div>
      <div>
        <h3 class="text-gray-500 font-medium mb-2">TREATMENT</h3>
        <p class="text-gray-800 font-medium">Tooth filling</p>
      </div>
      <div>
        <h3 class="text-gray-500 font-medium mb-2">DATE AND TIME</h3>
        <p class="text-gray-800 font-medium">Fri, 24 Jun 02:00-03:00 PM</p>
      </div>
    </div>

    <div class="flex items-center justify-between mb-4">
      <div>
        <h3 class="text-gray-500 font-medium mb-2">DENTIST</h3>
        <p class="text-gray-800 font-medium">Drg Putri Larasati</p>
      </div>
      <div>
        <h3 class="text-gray-500 font-medium mb-2">Payment</h3>
        <p class="text-red-500 font-medium">UNPAID</p>
        <button class="text-blue-500 font-medium">Send Reminder</button>
      </div>
    </div> -->

    <div class="mb-6">
      <h3 class="text-gray-800 font-medium mb-2">General Info</h3>
      <div class="grid grid-cols-2 gap-4">
        <div>
          <p class="text-gray-500 font-large">First Name</p>
          <p class="text-gray-800 font-medium">{{first_name}}</p>
        </div>
        <div>
          <p class="text-gray-500 font-large">Last Name</p>
          <p class="text-gray-800 font-medium">{{last_name}}</p>
        </div>
        <div>
          <p class="text-gray-500 font-large">Phone Number</p>
          <p class="text-gray-800 font-medium">{{phone}}</p>
        </div>
        <div>
          <p class="text-gray-500 font-large">Role</p>
          <p class="text-gray-800 font-medium">{{role}}</p>
        </div>
        <div>
          <p class="text-gray-500 font-large">Email</p>
          <p class="text-gray-800 font-medium">{{email}}</p>
        </div>
        <div>
          <p class="text-gray-500 font-large">Address</p>
          <p class="text-gray-800 font-medium">{{address}}</p>
        </div>
        <div>
          <p class="text-gray-500 font-large">Gender</p>
          <p class="text-gray-800 font-medium">{{gender}}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal footer -->
  <div class="flex items-center p-4 border-t border-gray-200 dark:border-gray-600">
    <button (click)="closeDetailModal()" type="button" 
      class="py-2.5 px-5 ml-auto text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700">
      Cancel
    </button>
  </div>
</div>
</div>

</div>