<section class="relative flex flex-col md:flex-row w-screen h-screen  bg-white">
  <div class="relative bg-white-500 h-screen w-full md:w-1/2 flex items-center justify-center">
    <div
      class="absolute top-36 md:top-10 left-1/2 -translate-x-1/2 w-1/4 h-[3px] bg-black border border-black rounded-full">
    </div>
    <!-- <div>lorem</div> -->
    <form (ngSubmit)="onLogin()" #loginForm="ngForm"
      class="bg-[#FAFAFA] h-1/2 md:h-96 w-3/4 md:w-1/2 -translate-y-10 px-4 py-2 border border-neutral-200 rounded shadow-md flex flex-col">
      <h1 class="my-4 text-2xl font-bold">Sign In for (BRAND)</h1>
      <div class="mt-8 space-y-4">
        <div>
          <label class="font-semibold text-sm" for="email">Email</label>
          <div class="shadow-md flex gap-2 items-center bg-white p-2 hover:shadow-lg rounded-md border" [ngClass]="{
            'border-red-500 ring-red-500': emailField?.invalid && emailField?.touched,
            'border-gray-300 focus-within:ring-blue-300': !emailField?.invalid || !emailField?.touched
          }">
            <svg class="mx-1 w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
              <path d="M22 6l-10 7L2 6"></path>
            </svg>
            <input id="email" type="email" name="email" [(ngModel)]="loginData.email" #emailField="ngModel"
              class="flex-1 text-sm focus:outline-none" placeholder="Enter your email" required />
          </div>
          <div class="text-xs text-red-500 min-h-[8px]">
            <div *ngIf="emailField.invalid && emailField.touched">
              Email is required.
            </div>
          </div>
        </div>

        <div>
          <label class="font-semibold text-sm" for="Password">Password</label>
          <div class="shadow-md flex gap-2 items-center bg-white p-2 hover:shadow-lg rounded-md border"
            [ngClass]="{'border-red-500 ring-red-500': passwordField?.invalid && passwordField?.touched,'border-gray-300 focus-within:ring-blue-300': !passwordField?.invalid || !passwordField?.touched}">
            <svg class="mx-1 w-5 h-5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
              viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.75 9.75V5.297a3.75 3.75 0 0 0-7.5 0V9.75"></path>
              <path
                d="M17.25 9.75H6.75A2.25 2.25 0 0 0 4.5 12v8.25a2.25 2.25 0 0 0 2.25 2.25h10.5a2.25 2.25 0 0 0 2.25-2.25V12a2.25 2.25 0 0 0-2.25-2.25Z">
              </path>
            </svg>
            <input id="password" type="password" name="password" [(ngModel)]="loginData.password"
              #passwordField="ngModel" class="flex-1 text-sm focus:outline-none" placeholder="••••••••"
              autocomplete="on" required />
          </div>
          <div class="text-xs text-red-500 min-h-[8px]">
            <div *ngIf="passwordField.invalid && passwordField.touched">
              Password is required.
            </div>
            <div *ngIf="errorMessage">{{ errorMessage }}</div>
          </div>
          <!-- <div *ngIf="loginForm.invalid" class="text-sm text-red-500">
            Please fill out all required fields correctly.
          </div> -->
        </div>
      </div>


      <div class="relative w-full my-2 px-2 py-1 flex items-center">
        <!-- <div class="w-"> -->
        <label for="hr" class="flex flex-row items-center gap-2 dark:text-white light:text-black cursor-pointer">
          <input id="hr" type="checkbox" class="peer hidden" />
          <div for="hr"
            class="h-5 w-5 flex rounded-md border border-[#94949433] bg-[#e8e8e8] peer-checked:bg-[#2a1f55] transition">
            <svg fill="none" viewBox="0 0 24 24" class="w-5 h-5 light:stroke-[#e8e8e8] dark:stroke-[#212121]"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M4 12.6111L8.92308 17.5L20 6.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              </path>
            </svg>
          </div>
          <p class="text-xs text-gray-600">Remember me</p>
        </label>

        <div (click)="forgor()" class="ml-auto text-xs text-blue-600">Forgot password?</div>
      </div>
      <!-- </div> -->


      <button type="submit" [disabled]="loginForm.invalid"
        class="mt-auto mx-auto mb-8 md:mb-4 select-none cursor-pointer w-1/2 md:w-auto relative text-center rounded-md shadow bg-black hover:bg-neutral-700 hover:shadow-md text-white  px-8 py-1">
        Login
      </button>
    </form>
  </div>
  <div class="hidden relative bg-[#3A3A3A] h-screen w-1/2 md:flex items-center justify-center z-50">
    <!-- <img class="h-1/2 aspect-square object-fill" src="https://i.pinimg.com/enabled_lo_mid/474x/f5/88/ba/f588ba1a9c0b4a0c1bcf7c35e50e87d3.jpg" alt=""> -->
    <h1 class="text-white">BRAND</h1>
  </div>


  <div class="absolute left-0 bottom-0 select-none">
    <img class="w-screen h-32" src="/img/wave (1).png" alt="cek">
  </div>
</section>