<div>
  <div class="flex items-center my-2">
    <h1 class="text-md font-medium text-neutral-800">Dashboard</h1>
    <!-- <div class=""> -->
    <!-- <button class="flex items-center ml-auto bg-gray-100 font-medium px-4 py-1 rounded-md border shadow">
      <div>+</div>
      <p>Add Student</p>
    </button> -->
    <!-- </div> -->
  </div>

  <h1 class="my-6 text-xl font-semibold">
    Hi, Admin Sekolah
  </h1>

  <hr>

  <div class="grid grid-cols-4 my-8 px-2 gap-x-12">
    <a routerLink="/admin/students"
      class="w-auto aspect-square p-6 border shadow-md rounded-lg hover:bg-gray-50 hover:scale-95 hover:shadow-lg transform transition-transform cursor-pointer">
      <div>
        <svg class="w-8 h-8" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
          stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M18.844 7.875c-.138 1.906-1.552 3.375-3.094 3.375-1.542 0-2.959-1.468-3.094-3.375-.14-1.983 1.236-3.375 3.094-3.375 1.858 0 3.235 1.428 3.094 3.375Z">
          </path>
          <path
            d="M15.75 14.25c-3.055 0-5.993 1.517-6.729 4.472-.097.391.148.778.55.778h12.358c.402 0 .646-.387.55-.778-.736-3.002-3.674-4.472-6.73-4.472Z">
          </path>
          <path
            d="M9.375 8.716c-.11 1.522-1.253 2.722-2.484 2.722-1.232 0-2.377-1.2-2.485-2.722C4.294 7.132 5.406 6 6.891 6c1.484 0 2.596 1.161 2.484 2.716Z">
          </path>
          <path
            d="M9.657 14.341c-.846-.387-1.778-.536-2.766-.536-2.437 0-4.786 1.211-5.374 3.572-.077.312.118.62.44.62h5.262">
          </path>
        </svg>
      </div>
      <h1 class="text-[2.5rem] font-semibold text-black ">258</h1>
      <p>Total Siswa</p>
    </a>
    <div
      class="w-auto aspect-square p-6 border shadow-md rounded-lg hover:bg-gray-50 hover:scale-95 hover:shadow-lg transform transition-transform cursor-pointer">
      <div>
        <svg class="w-8 h-8" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
          stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M21 4H3a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h18a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1Z"></path>
          <path d="M8.5 12.5a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"></path>
          <path d="M11.5 15.5a3 3 0 0 0-6 0"></path>
          <path d="M14 10h4"></path>
          <path d="M15 14h3"></path>
        </svg>
      </div>
      <h1 class="text-[2.5rem] font-semibold text-black ">25</h1>
      <p>Driver Aktif</p>
    </div>
    <div
      class="w-auto aspect-square p-6 border shadow-md rounded-lg hover:bg-gray-50 hover:scale-95 hover:shadow-lg transform transition-transform cursor-pointer">
      <div>
        <svg class="w-8 h-8" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
          stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M3 3v18h18"></path>
          <path d="M7 15v2"></path>
          <path d="M11 11v6"></path>
          <path d="M15 3v14"></path>
          <path d="M19 7v10"></path>
        </svg>
      </div>
      <h1 class="text-[2.5rem] font-semibold text-black ">95%</h1>
      <p>Ketepatan Waktu</p>
    </div>
    <div
      class="w-auto aspect-square p-6 border shadow-md rounded-lg hover:bg-gray-50 hover:scale-95 hover:shadow-lg transform transition-transform cursor-pointer">
      <div>
        <svg class="w-8 h-8" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
          stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10Z"></path>
          <path d="M12.004 6v6.004l4.24 4.24"></path>
        </svg>
      </div>
      <h1 class="text-[2.5rem] font-semibold text-black ">06:45</h1>
      <p>Rata Rata Waktu Jemput</p>
    </div>

  </div>

  <div class="grid grid-cols-2 my-8 px-2 gap-x-12">
    <div class="px-6 py-3 border shadow-md rounded-lg">
      <h1 class="text-xl font-medium">Driver Monitoring</h1>

      <div class="mt-5 grid grid-rows-3 gap-y-3">
        <div class="p-4 border bg-gray-50 shadow-md rounded-lg">
          <div class="flex items-center">
            <div class="flex items-center gap-4">
              <h1 class="text-lg font-medium">Budi Santoso</h1>
              <div class="px-4 text-green-500 text-xs font-medium bg-green-100 rounded-full shadow border align-middle">
                Active</div>
            </div>
            <div class="ml-auto text-sm">
              Progress
            </div>
          </div>
          <div class="mt-2 flex items-center">
            <div class="flex items-center gap-4">
              <div>
                <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="1.5"
                  viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 22s7.5-6 7.5-12.5a7.5 7.5 0 0 0-15 0C4.5 16 12 22 12 22Z"></path>
                  <path d="M12 12.5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"></path>
                </svg>
              </div>
              <p class="text-sm text-neutral-800">Menuju ke sekolah</p>
            </div>
            <div class="ml-auto font-medium text-sm">
              2/5 stop(s)
            </div>
          </div>
        </div>
      </div>

      <div class="mt-4 flex">
        <a class="ml-auto px-4 py-1 border bg-gray-50 rounded-lg shadow-md" href="#">Lihat Detail</a>
      </div>
    </div>
    <div class="hover:select-all">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, numquam nesciunt maiores reprehenderit nam
      tenetur quas totam a repellendus est eos minima ab sunt deleniti. Tenetur quod aliquam illum quia, itaque amet
      sunt blanditiis expedita assumenda voluptates quaerat adipisci eum rem eius facilis ducimus totam. Iusto
      voluptatem eius, deserunt voluptatibus natus non et nam maiores saepe enim dignissimos alias dolorum laboriosam,
      culpa, impedit veniam unde ipsam reprehenderit quae sunt placeat? Sunt deleniti sit maxime placeat id minima sint
      at? Nemo, est odit! Debitis rerum libero quam. Corrupti nesciunt cum itaque reprehenderit consectetur velit natus
      ratione molestias ad, tempora, optio quas?</div>
  </div>
</div>