<div class="w-full grid grid-cols-3 gap-x-5 my-5">
  <div class="flex items-center col-span-2 bg-gray-100 border rounded-lg shadow-md select-none">
    <div class="flex align-center justify-center text-left w-1/2">
      <div class="px-3">
      <h1 class="text-3xl font-black">Hello Adipiscingelite</h1>
      <p class="font-semibold">It's good to see you again</p>
    </div>
    </div>
    <div class="w-1/2">
      <img
        src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRzYzZb7edBwpWbJwfSgcVcoUnK18hxvO3ZNjzdX9weJf603zRW"
        class="h-full aspect-square" alt="Hello" style="
    mix-blend-mode: multiply; ">
    </div>
  </div>
  <div>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti, perspiciatis! Laudantium deserunt laboriosam
    reprehenderit omnis tenetur assumenda voluptas optio recusandae, illum provident blanditiis ea laborum at dolorum,
    placeat, magni aut.
  </div>
</div>