<div class="h-full">
  <div class="bg-white pb-8">
    <div class="w-full h-[250px]">
      <img src="https://i.pinimg.com/474x/e5/ce/50/e5ce50f326895b9962862d91a81795fa.jpg"
        class="w-full h-full object-cover rounded-tl-xl rounded-tr-xl">
    </div>
    <div class="flex flex-col items-center -mt-20">
      <img alt="Foto Profil" src="https://i.pinimg.com/474x/ab/72/68/ab72684d262a18aac97d650e8b4f66c3.jpg"
        class="w-40 aspect-square object-cover rounded-full border border-black shadow-lg" loading="lazy">
      <div class="flex items-center space-x-2 mt-2">
        <p class="text-2xl">Driver Jawa</p>
        <span class="bg-blue-500 rounded-full p-1" title="Verified">
          <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-100 h-2.5 w-2.5" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M5 13l4 4L19 7"></path>
          </svg>
        </span>
      </div>
      <!-- <p class="text-gray-700">  user.role_title  </p> -->
      <p class="text-sm text-gray-500">driver%gmail.com</p>
    </div>

  </div>

  <div class="my-2 flex flex-col 2xl:flex-row space-y-4 2xl:space-y-0 2xl:space-x-4">
    <ul id="hehehe" class="flex flex-row list-none pt-3 mb-2 font-medium border-b border-neutral-600 shadow-sm">
      <li class="w-auto">
        <a class="flex items-center px-5 py-3 w-fit leading-normal cursor-pointer" (click)="toggleTabs(1)"
          [ngClass]="{'text-neutral-500': openTab !== 1, 'text-black font-semibold border-b-2 border-neutral-600 rounded-b-sm': openTab === 1}">
          <p>Detail Saya</p>
        </a>
      </li>
      <li class="w-auto">
        <a class="flex items-center px-5 py-3 w-fit leading-normal cursor-pointer" (click)="toggleTabs(2)"
          [ngClass]="{'text-neutral-500': openTab !== 2, 'text-black font-semibold border-b-2 border-neutral-600 rounded-b-sm': openTab === 2}">
          <p>Password</p>
        </a>
      </li>
      <li class="w-auto">
        <a class="flex items-center px-5 py-3 w-fit leading-normal cursor-pointer" (click)="toggleTabs(3)"
          [ngClass]="{'text-neutral-500': openTab !== 3, 'text-black font-semibold border-b-2 border-neutral-600 rounded-b-sm': openTab === 3}">
          <p>Kendaraan</p>
        </a>
      </li>
      <li class="w-auto">
        <a class="flex items-center px-5 py-3 w-fit leading-normal cursor-pointer" (click)="toggleTabs(4)"
          [ngClass]="{'text-neutral-500': openTab !== 4, 'text-black font-semibold border-b-2 border-neutral-600 rounded-b-sm': openTab === 4}">
          <p>SIM</p>
        </a>
      </li>
    </ul>

    <div [ngClass]="{'hidden': openTab !== 1, 'block': openTab === 1}" class="px-8">
      <h1 class="text-lg font-semibold">Detail Saya</h1>
      <p class="text-xs">Berisi informasi umum tentang Anda</p>


      <table class="my-5 text-sm">
        <tr class="">
          <td class="py-2 pr-8">Nama Panggilan</td>
          <td class="px-1">:</td>
          <td class="pl-3">Kucing</td>
        </tr>
        <tr class="">
          <td class="py-2 pr-8">Nama Lengkap</td>
          <td class="px-1">:</td>
          <td class="pl-3">Kucing Hitput</td>
        </tr>
        <tr class="">
          <td class="py-2 pr-8">Email</td>
          <td class="px-1">:</td>
          <td class="pl-3">kucing%gmail.com</td>
        </tr>
        <tr class="">
          <td class="py-2 pr-8">Tempat, Tanggal Lahir</td>
          <td class="px-1">:</td>
          <td class="pl-3">Sleman, 10 Januari 2024</td>
        </tr>
      </table>
    </div>
    <div [ngClass]="{'hidden': openTab !== 2, 'block': openTab === 2}" class="px-8">
      <h1 class="text-lg font-semibold">Password</h1>
      <p class="text-xs">Berisi informasi tentang password Anda. Anda juga bisa langsung mengubah password Anda disini
      </p>

      <table class="my-5 text-sm tracking-wide">
        <tr class="">
          <td class="py-2 pr-8">Password Saat Ini</td>
          <td class="pl-3">
            <input placeholder="Enter your password..."
              class="px-3 w-[240px] text-[14px] bg-gray-100 p-2 border border-white/10 rounded-md outline-none ring-2 ring-blue-500/0 focus:ring-blue-500"
              name="text" type="password" value="****" />
          </td>
        </tr>
        <tr class="">
          <td class="py-2 pr-8">New Password</td>
          <td class="pl-3">
            <input placeholder="Enter your password..."
              class="px-3 w-[240px] text-[14px] bg-gray-100 p-2 border border-white/10 rounded-md outline-none ring-2 ring-blue-500/0 focus:ring-blue-500"
              name="text" type="password" />
          </td>
        </tr>
        <tr class="">
          <td class="py-2 pr-8">Confirm New Password</td>
          <td class="pl-3">
            <input placeholder="Enter your password..."
              class="px-3 w-[240px] text-[14px] bg-gray-100 p-2 border border-white/10 rounded-md outline-none ring-2 ring-blue-500/0 focus:ring-blue-500"
              name="text" type="password" />
          </td>
        </tr>
      </table>
    </div>
    <div [ngClass]="{'hidden': openTab !== 3, 'block': openTab === 3}"class="px-8">
      <h1 class="text-lg font-semibold">Kendaraan</h1>
      <p class="text-xs">Berisi informasi umum tentang kendaraan Anda
      </p>

      <table class="my-5 text-sm">
        <tr class="">
          <td class="py-2 pr-8">Jenis Kendaraan</td>
          <td class="px-1">:</td>
          <td class="pl-3">Toyota Hiace Premio</td>
        </tr>
        <tr class="">
          <td class="py-2 pr-8">Nomor Polisi</td>
          <td class="px-1">:</td>
          <td class="pl-3">AB 1234 OK</td>
        </tr>
        <tr class="">
          <td class="py-2 pr-8">Warna Kendaraan</td>
          <td class="px-1">:</td>
          <td class="pl-3">Hytam</td>
        </tr>
        <tr class="">
          <td class="py-2 pr-8">Bahan Bakar</td>
          <td class="px-1">:</td>
          <td class="pl-3">Bensin</td>
        </tr>
      </table>
    </div>
    <div [ngClass]="{'hidden': openTab !== 4, 'block': openTab === 4}">empat</div>
  </div>

</div>